<%- include('header') %>
  <nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand">Admin Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a href="/admin/dashboard" class="nav-link">Dashboard</a></li>
          <li class="nav-item"><a href="/admin/users" class="nav-link">Users</a></li>
          <li class="nav-item"><a href="/admin/categories" class="nav-link">Categories</a></li>
          <li class="nav-item"><a href="/admin/product" class="nav-link">Products</a></li>
          <li class="nav-item"><a href="/admin/orders" class="nav-link">Orders</a></li>
          <li class="nav-item"><a href="/admin/coupons" class="nav-link">Coupons</a></li>
          <li class="nav-item"><a href="/admin/productoffers" class="nav-link">Product Offer</a></li>
          <li class="nav-item"><a href="/admin/categoryoffers" class="nav-link">Category Offer</a></li>
        </ul>
        <a href="/admin/logout" class="btn btn-outline-danger fw-bold">Logout</a>
      </div>
    </div>
  </nav>
  <h2>Dashboard</h2>
  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <%- include('footer') %>
