<td>
    <% if (product.offerPrice && product.offerPrice < product.price) { %>
      <div class="form-group">
        <label for="offerDisplay">Discounted Price</label>
        <p>
          <span class="text-muted text-decoration-line-through">₹<%= product.price %></span>
          <span class="font-weight-bold">₹<%= product.offerPrice %></span>
          <span class="text-success">(<%= ((product.price - product.offerPrice) / product.price * 100).toFixed(2) %>% Off)</span>
        </p>
      </div>
    <% } else { %>
      <div class="form-group">
        <label for="priceDisplay">Price</label>
        <p>₹<%= product.price %></p>
      </div>
    <% } %>
  </td>